#main-footer {
  margin-top: 20px;
  margin-bottom: 0;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
  padding-left: 35px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  transition: 0.4s;
  margin: 0 20px;
}

.social li a:hover {
  transform: translateY(-15px);
}
