.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.pagination a {
  cursor: pointer;
}

.pagination a:hover {
  color: white;
  background-color: #2e5ab8;
}

.pagination .active {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
  color: white;
  background-color: #2e5ab8;
}
