.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 95%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #2e5ab8;
  color: white;
  z-index: 1;
}

.scroll-to-top .icon {
  margin-top: 2px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

/* Mobile Styles */
@media (max-width: 920px) {
  .scroll-to-top {
    left: 85%;
  }
}
