.newboat-form {
  list-style: none;
  margin: 1.6em auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  background: url("../../../images/background-water.jpg");
}

label {
  font-size: 16px;
  font-weight: bold;
}

input {
  margin: 0 0 10px 0;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
  margin: 0;
  padding: 0;
}

.button {
  margin: 0 auto;
  display: flex;
}
