.schiff-item-detail__content {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1.6em auto;
  padding-top: 15px;
  width: 50%;
  flex-wrap: wrap;
}

.schiff-item-detail__image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 450px;
}

.schiff-item-detail__info {
  width: 100%;
  justify-content: center;
}

.schiff-item-detail p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem 0 1.5rem 0.5rem;
}

.schiff-item-detail__info h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0 1rem 0.5rem;
  font-weight: normal;
  color: #ffd900;
}

.schiff-item-detail__info h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0.5rem;
  line-height: 1.5rem;
}

.schiff-item-detail__actions {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 10px;
  display: flex;
}

#edit-button {
  position: absolute;
  left: calc(45% - 2rem);
  min-block-size: inherit;
}

#delete-button {
  position: absolute;
  right: calc(45% - 2rem);
  min-block-size: inherit;
}
