#main-footer {
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
}

.copyright {
  font-size: 0.75rem;
  text-align: center;
}

#main-footer a {
  font-size: 0.9rem;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}